{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="grain" class="active_item">About Grain FT Correction</a></li>
    <li class="menu_item"><a href="">Item1</a></li>
    <li class="menu_item"><a href="">Item2</a></li>
    <li class="menu_item"><a href="">Item3</a></li>
    <li class="menu_item"><a href="">Item4</a></li>
    <li class="menu_item"><a href="">Item5</a></li>
    <li class="menu_item"><a href="">Item6</a></li>
  </ul>

  <h2>Grain FT Correction</h2>

{{> footer }}
