{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="/grain" class="active_item">About 3D-He</a></li>
    <li class="menu_item"><a href="/grain/load_images">Load Images</a></li>
    <li class="menu_item"><a href="">Set Grain Outline</a></li>
    <li class="menu_item"><a href="">Item3</a></li>
    <li class="menu_item"><a href="">Item4</a></li>
    <li class="menu_item"><a href="">Item5</a></li>
    <li class="menu_item"><a href="">Item6</a></li>
  </ul>

  <h2>3D-He</h2>

  <div class="header_table">
    <img src="/images/grain20_photo.jpg"></img>
  </div>

  <h4>3D-He is a simple Matlab<sup>TM</sup> program that should support thermochronologist to accurately and efficiently determine required grain measures for (U-Th)/He dating. 3D-He numerically reconstruct the grain shape of apatite and zircon, and calculate resulting grain measures, such as volume, surface area, sphere-equivalent radii and Ft-correction factors. The reconstruction of the three-dimensional grain shape is based on the interpolation of photomicrographs taken orthogonal to the principal grain axes. The resulting grain model is used to simulate He ejection and diffusion using a coupled Monte Carlo and Brownian motion algorithm. 3D-He is flexible and can handle broken grains or grains with known parent isotope zonation.</h4>

{{> footer }}
