<html>
<head>
  <link rel="stylesheet" href="css/menu.css">
  <title>ESD Simulator</title>
</head>
<body>
  <table class="header_table">
    <tr>
      <td>
        <div class="menu_div">
          <button class="base_property menu_button">Programs</button>
          <div class="menu_content">
            {{#each programs as |name|}}
              <a href="{{name}}">{{name}}</a>
            {{/each}}
          </div>
        </div>
      </td>
      <td class="logo_column">
        <img src="images/uni_esd_logo.jpg" width="40%"></img>
        <h2>Welcome to the ESD Simulation Remote Computing Access</h2>
      </td>
      {{#if login_id}}
      <td>
          <a href="logout" class="base_property logout">logout ({{login_id}})</a>
      </td>
      {{/if}}
    </tr>
  </table>
