<html>
<head>
  <link rel="stylesheet" href="/web_gui/css/menu.css">
  <title>ESD Simulator</title>
</head>
<body>
  <table class="center_content">
    <tr>
      <td>
        <div class="menu_div">
          <button class="base_property menu_button">Programs</button>
          <div class="menu_content">
            {{#each programs as |name|}}
              <a href="/web_gui/{{name.[0]}}">{{name.[1]}}</a>
            {{/each}}
          </div>
        </div>
      </td>
      <td class="logo_column">
        <a href="https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/geowissenschaften/arbeitsgruppen-kontakte/mineralogie-geodynamik/forschungsbereich/geologie/workgroup/"><img src="/web_gui/images/uni_esd_logo.jpg" width="50%"></img></a>
        <h2>Welcome to the ESD Simulation Remote Computing Access</h2>
      </td>
      {{#if login_id}}
      <td>
          <a href="/web_gui/logout" class="base_property logout">logout ({{login_id}})</a>
      </td>
      {{/if}}
    </tr>
  </table>
