<html>
<head>
  <link rel="stylesheet" href="css/menu.css">
  <title>ESD Simulator</title>
</head>
<body>
  {{#if login_id}}
  <div class="right_div">
    <h3>{{login_id}}: <a href="logout">logout</a></h3>
  </div>
  {{/if}}

  <div class="center_div">
    <img src="images/uni_esd_logo.jpg"></img>

    <p class="space1"></p>

    <h1>Welcome to the ESD Simulation Remote Computing Access</h1>
  </div>

  {{#each programs as |name|}}
    <p>{{name}}</p>
  {{/each}}
