<html>
<head>
  <link rel="stylesheet" href="css/login.css">
  <title>ESD WebGUI Login</title>
</head>
<body>
  <div class="center_div">
    <img src="images/uni_esd_logo.jpg"></img>

    <p class="space1"></p>

    <h1>Welcome to the ESD Simulation Remote Computing Access</h1>
    {{#if message}}
      <h2><p>{{message}}</p></h2>
    {{/if}}
  </div>

  <p class="space1"></p>

  <form action="/login" method="post">
    <table class="table_style">
      <tr>
        <td class="data1">Login id:</td>
        <td><input name="login_id" type="text" class = {{#if login_error}} "login_error" {{else}} "input_style" {{/if}}></td>
      </tr>
      <tr>
        <td class="data1">Password:</td>
        <td><input name="password" type="password" class = {{#if login_error}} "login_error" {{else}} "input_style" {{/if}}></td>
      </tr>
      <tr>
        <td>Select program to start using:</td>
        <td>
          <select name="program" class="select_style">
            <option value="0">Pecube ESD</option>
            <option value="1">Grain FT Correction (C.G.)</option>
            <option value="2">LandLab ESD</option>
            <option value="3">IceCascade</option>
            <option value="4">Coupled landscape thermal simulation</option>
          </select>
        </td>
      </tr>
    </table>

    <p class="space1"></p>

    <div class="center_div">
      <button type="submit" class="submit_style">Log in</button>
    </div>
  </form>
</body>
</html>
