<html>
<head>
  <title>ESD WebGUI Login</title>

  <script language="javascript" type="text/javascript">
       window.setTimeout("window.location='/'; ", 5000);
   </script>
</head>
<body>
  <h1>Welcome to the ESD WebGUI</h1>
  <h2>You have successfully logged out</h2>
  <h2>(Will redirect to login page after 5 seconds)</h2>
</body>
</html>
