{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a class="active_item" href="">Extract DEM Input</a></li>
    <li class="menu_item"><a href="">Define Pecube Input</a></li>
    <li class="menu_item"><a href="">Load Observed Ages</a></li>
    <li class="menu_item"><a href="">Execute Simulation</a></li>
    <li class="menu_item"><a href="">Plot Output</a></li>
    <li class="menu_item"><a href="">Download Results</a></li>
  </ul>

{{> footer }}
