<html>
<head>
  <title>ESD WebGUI Login</title>
</head>
<body>
  <h1>Welcome to the ESD WebGUI</h1>
  {{#if login_id}}
    <h2>Login id: {{login_id}}</h2>
    <h3><a href="logout">Logout</a></h3>
  {{/if}}
</body>
</html>
