{{> header }}

  <ul class="menu_bar">
    <li class="menu_item"><a href="pecube" class="active_item">About Pecube</a></li>
    <li class="menu_item"><a href="">Extract DEM Input</a></li>
    <li class="menu_item"><a href="">Define Pecube Input</a></li>
    <li class="menu_item"><a href="">Load Observed Ages</a></li>
    <li class="menu_item"><a href="">Execute Simulation</a></li>
    <li class="menu_item"><a href="">Plot Output</a></li>
    <li class="menu_item"><a href="">Download Results</a></li>
  </ul>



  <h2>Pecube uses 3D thermokinematic model for simulation of crustal thermal fields and both bedrock and detrital thermochronometer data. Based on Whipp et al., 2009 (JGR-ES), and Braun 2002 (Comp. Geosci).<h2>

{{> footer }}
